:root{
    --brand-color: #1EB2A6;
    --bg-color: #f8f8f8;
    --para-color: #f8f8f8;
    --font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
/* common code start  */
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
h2{
    font-size: 46px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    line-height: 1.5;
}
h3{
    font-size: 1rem;
    color: var(--brand-color);
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}
p{
    font-size: 16px;
    color: var(--para-color);
    font-weight: 400;
    line-height: 1.5;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d-flex{
    display: flex;
}
.container{
    width: 83%;
    margin: 0 auto;
}
.animation{
    position: relative;
    animation: animation-content 2s 1;
}
@keyframes animation-content{
    0%{
        bottom: -120px;
    }
    100%{
        bottom: 0;
    }
}
/* common code end  */
/* header code start  */
header{
    background: url(../images/bg_1.jpg) fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* .header-top-nav code start  */
header .header-top-nav{
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
}
/* brand-logo code start  */
.header-top-nav .brand-logo{
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.header-top-nav .brand-logo a{
    /* max-width: 2rem; */
    font-size: 30px;
    color: #fff;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;
    transition: .5s all;
}
.header-top-nav .brand-logo a:hover{
    color: var(--brand-color);
}
.header-top-nav .brand-logo span{
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

/* .time-schedule code start  */
.header-top-nav .time-schedule{
    flex: 1;
    align-items: center;
    justify-content: center;
}
.header-top-nav .time-schedule i{
    font-size: 2.7rem;
    color: #fff;
    margin-right: 10px;
}
.header-top-nav .time-schedule h4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}
.header-top-nav .time-schedule h4 span{
    font-weight: 700;
}
/* header .contact-us code start  */
.header-top-nav .contact-us{
    flex: 1;
}
.header-top-nav .contact-us i{
    font-size: 2.5rem;
    color: #fff;
    margin-right: 5px;
}
.header-top-nav .contact-us h4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}
.header-top-nav .contact-us h4 span{
    font-weight: 700;
}
 /* .socials-links code start  */
.header-top-nav .socials-links{
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.header-top-nav .socials-links a{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--brand-color);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s all;
}
.header-top-nav .socials-links a:hover{
    color: #fff;
    background: var(--brand-color);
}
/* .header-top-nav end  */

/* nav code start  */
nav .nav-inner{
    width: 95%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    align-items: center;
}
/* nav-links code start  */
nav .nav-inner .nav-links{
    flex: 1;
}
nav .nav-inner .nav-links ul {
    align-items: center;
    justify-content: space-around;
}
.nav-inner .nav-links a{
    padding: 1.8rem 10px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    transition: .5s all;
}
.nav-inner .nav-links a:hover{
    color: var(--brand-color);
}
.nav-inner .nav-links a.active{
    color: var(--brand-color);
}
/* nav-button code start  */
.nav-button{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-button a{
    position: relative;
    color: #fff;
    background: var(--brand-color);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 1.8rem 4rem;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s all;
}
.nav-button a:hover{
    color: #1EB2A6;
    background-color: #fff;
}
.nav-button a::before{
    position: absolute;
    content: '';
    width: 4rem;
    height: 100%;
    background: var(--brand-color);
    transform: skew(-25deg);
    top: 0;
    left: -7%;
    transition: 0.5s all;
}
.nav-button a:hover::before{
    background-color: #fff;
}
/* nav code end  */
/* header-content code start  */
.header-inner .header-content{
    position: relative;
    max-width: 40%;
    margin-top: 7rem;
    padding-bottom: 9.6rem;
}
.header-inner .header-content h5{
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    line-height: 25px;
}
.header-inner .header-content h1{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    line-height: 48px;
    padding-right: 15px;
}
.header-inner .header-content p{
    line-height: 1.8;
    color: var(--para-color);
    padding: 1.5rem 0;
}
.header-inner .header-content a{
    color: #fff;
    background-color: var(--brand-color);
    font-size: 13px;
    transition: .5s all;
    letter-spacing: 0.1em;
    padding: 20px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 5px;
}
.header-inner .header-content a:hover{
    background: #fff;
    color: #1EB2A6;
}
.header-inner .header-content a:last-child{
    background: #fff;
    color: #1EB2A6;
}
.header-inner .header-content a:last-child:hover{
    color: #fff;
    background: #1EB2A6;
}
/* header code end  */

/* About section code start  */
.about{
    background: #F8F8F8;
    width: 100%;
    height: 100%;
}
.about-inner .about-image{
    flex: 1;
    align-items: center;
}
.about-inner .about-content{
    flex: 1;
    padding: 5rem 2.5rem;
}
/* .about-content-expertise code start  */
.about-inner .about-content h2{
    margin-bottom: 2.5rem;
}
.about-inner .about-content .about-content-expertise .expertise-lists{
    background: #fff;
    padding: 2rem 1rem;
    margin-bottom: 8px;
    transition: .5s all;
}
.about-inner .about-content .about-content-expertise .expertise-lists-icon{
    flex: 1;
}
.about-inner .about-content .about-content-expertise .expertise-lists-icon i{
    font-size: 4rem;
    color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-inner .about-content .about-content-expertise .expertise-lists-content{
    flex: 3;
}
.about-inner .about-content .about-content-expertise .expertise-lists-content h3{
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    font-size: 20px;
}
.about-inner .about-content .about-content-expertise .expertise-lists-content p{
    color: gray;
    font-size: 1rem;
    line-height: 1.5;
}
.about-inner .about-content .about-content-expertise .expertise-lists:hover{
    background: var(--brand-color);
}
.about-inner .about-content .about-content-expertise .expertise-lists:hover  .expertise-lists-icon i,
.about-inner .about-content .about-content-expertise .expertise-lists:hover  .expertise-lists-content h3{
    color: #fff;
}
.about-inner .about-content .about-content-expertise .expertise-lists:hover  .expertise-lists-content p{
    color: var(--para-color);
}
/* About section code end  */

/* academia success section code start  */
.success{
    background: url(../images/bg_3.png);
    background-size: cover;
}
/* success-box-overlay code  */
.success .success-box-overlay{
    background: rgba(0, 0, 0, 0.4);
}
/* success inner code  */
.success-inner{
    padding: 5rem 0;
    justify-content: space-around;
    align-items: center;
}
.success-inner .success-items{
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
.success-inner .success-items i{
    font-size: 3.5rem;
    color: #fff;
    margin-right: 25px;
}
.success-inner .success-items-content h2{
    color: #fff;
    font-weight: 700;
}
.success-inner .success-items-content h3{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}
/* academia success section code end  */

/* courses section code start  */
.courses{
    background-color: #F8F8F8;
}
.courses-inner{
    padding: 7rem 0;
}
.courses-inner .courses-title{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6rem;
}
.courses-inner .courses-content .courses-items{
    margin-right: 25px;
    background-color: #fff;
    border-radius: 5px;
    flex: 1;
    padding: 2rem;
}
/* courses items header code start  */
.courses-content .courses-items .courses-items-header .icon-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1EB2A6;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 3rem;
    color: #fff;
    padding: 25px;
    display: inline-block;
    margin-right: 8px;
}
.courses-content .courses-items .courses-items-header .courses-items-header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.courses-content .courses-items .courses-items-header .courses-items-header-content h2{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
}
.courses-content .courses-items .courses-items-header .courses-items-header-content h6
{
    color: #1EB2A6;
    font-size: 15px;
    line-height: 2.5;
}
/* courses header content img box code  */
.courses-content .courses-items .courses-items-header .courses-items-header-content .img-box{
    justify-content: start;
    align-items: center;
}
.courses-content .courses-items .courses-items-header .courses-items-header-content .img-box img{
    width: 20%;
    border-radius: 50%;
}
.courses-content .courses-items .courses-items-header .courses-items-header-content .img-box p{
    color: gray;
    margin-left: 10px;
}
/* courses-items-footer code start  */
.courses-content .courses-items .courses-items-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.courses-content .courses-items .courses-items-footer p,
.courses-content .courses-items .courses-items-footer a{
    width: 100%;
    color: #1EB2A6;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
}
.courses-content .courses-items .courses-items-footer p{
    padding: 1rem 0;
    background: #F8F8F8;
    margin-bottom: 10px;
}
.courses-content .courses-items .courses-items-footer a{
    padding: 1rem 0;
    /* background: #F8F8F8; */
    margin-bottom: 8px;
    border: 1px solid #1EB2A6;
    transition: .5s all;
}
.courses-content .courses-items .courses-items-footer a:hover{
    color: #fff;
    background: var(--brand-color);
    border: 1px solid #1EB2A6;
}
/* courses section code end  */

/* features section code start  */
.features{
    background-color: #F8F8F8;
}
.features-inner{
    padding: 2rem 0rem ;
}
/* feature title code  */
.features-inner .features-title{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;
}
/* features items code  */
.features-inner .features-items{
    /* align-items: center; */
    justify-content: center;
    align-content: stretch;
}
/* feature items content code  */
.features-inner .features-items .features-items-content{
    flex: 1;
    background: #fff;
    flex-direction: column;
    margin-right: 15px;
    padding: 2rem 1rem;
    transition: .5s all;
    margin-bottom: 15px;
    border-radius: 5px;
}
.features-inner .features-items .features-items-content .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features-inner .features-items .features-items-content .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-inner .features-items .features-items-content .icon i{
    font-size: 3.5rem;
    color: #1EB2A6;
    margin-bottom: 1rem;
}
.features-inner .features-items .features-items-content .text h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    line-height: 1.5;
    text-align: center;
}
.features-inner .features-items .features-items-content .text span a{
    color: #1EB2A6;
    font-size: 13px;
    font-weight: 500;
    background: #f8f8f8;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
    transition: .5s all;
    border: 1px solid transparent;
}
.features-inner .features-items .features-items-content .text span a:hover{
    background: #1EB2A6;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
/* features items content-box hover effect code  */
.features-inner .features-items .features-items-content:hover{
    background-color: #1EB2A6;
}
.features-inner .features-items .features-items-content:hover .icon i,
.features-inner .features-items .features-items-content:hover .text h2{
    color: #fff;
}
/* features section code end   */

/* testimonial section code start  */
.testimonial{
    background: var(--bg-color);
    padding: 5rem 0;
}
.testimonial-inner .testimonial-title{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}
.testimonial-inner .testimonial-content-inner{
    flex-direction: column;
    background: #fff;
    padding: 3.5rem 1.8rem;
    flex: 1;
    margin-right: 25px;
    transition: .5s all;
}
.testimonial-inner .testimonial-content-inner:hover{
    background: var(--brand-color)
}
/* .testimonial-content-inner header code start  */
.testimonial-inner .testimonial-content-inner .header{
    justify-content: center;
    align-items: center;
}
.testimonial-inner .testimonial-content-inner .header .header-img-box{
    flex: 1;
    position: relative;
    margin-right: 8%;
}
.testimonial-inner .testimonial-content-inner .header .header-img-box img{
    width: 100%;
    border-radius: 50%;
}
.testimonial-inner .testimonial-content-inner .header .header-img-box i{
    position: absolute;
    background: #1EB2A6;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}
.testimonial-inner .testimonial-content-inner:hover .header i{
    background-color: #fff;
    color: var(--brand-color);
}
/* .header .header-content code start  */
.testimonial-inner .testimonial-content-inner .header .header-content{
    flex: 2;
}
.testimonial-inner .testimonial-content-inner .header .header-content h3{
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.testimonial-inner .testimonial-content-inner .header .header-content span{
    display: inline-block;
    color: #1EB2A6;
    font-weight: 600;
    font-size: 12px;
    line-height: 3;
    /* margin-top: 8px; */
}
.testimonial-inner .testimonial-content-inner:hover .header .header-content h3,
.testimonial-inner .testimonial-content-inner:hover .header .header-content span{
    color: #fff;
}
/* testimonial-content-inner body code start  */
.testimonial-inner .testimonial-content-inner .body p{
    color: gray;
    margin-top: 2rem;
}
.testimonial-inner .testimonial-content-inner:hover .body p{
    color: var(--para-color);
}
/* testimonial section code end  */